@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --primary: #379ad3;
  --background: #ffffff;
  --foreground: #212529;
}

:root.dark {
  --background: #212529;
  --foreground: #dddddd;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
