@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --primary: #379ad3;
  --background: #ffffff;
  --foreground: #212529;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212529;
    --foreground: #dddddd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
